body{
    width: 100%;
}


#home
{

    position: absolute;
    width:78%;
    margin-right: 10px;
    top:40px;
    right: 0;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin-bottom: 20px;
    height: 100%;
}

.dynamic_num_data
{
    color: black;
    padding:0px;
    font-size: 30px;
    font-weight: 700;
    display: block;
    background-color: transparent;
    /*border:none;*/
}

.sub-heading-home
{
    font-size: 20px;
    color: grey;
    padding: 10px 15px;
}

#on-demand-content
{
    margin:20px auto;
    padding:15px;
    background-color: #F0EDE8;
    width:100%;
}

.buttons-content
{
    border-left: 1px solid #c2c2c2;
    width: 100%;
    padding-left:20px;
    cursor: pointer;
}

.buttons-content:hover
{
    background-color: white;
}


.row
{
    margin-left:15px;
    width: 100%;
}

svg
{
    background-color: #F0EDE8;
}

#clinician-corner-posts
{
    margin:20px auto;
    padding:15px;
    background-color: #F0EDE8;
    width:100%;
}

#skillsets
{
    margin:20px auto;
    padding:15px;
    background-color: #F0EDE8;
    width:100%;
}


#treatment-tracks
{
    margin:20px auto;
    padding:15px;
    background-color: #F0EDE8;
    width:100%;
}

#clinicians
{
    margin:20px auto;
    padding:15px;
    background-color: #F0EDE8;
    width:100%;
}

.active
{
    background-color: white;
}

.btn
{
    margin-top:-10px;
}


div, body, button, input, ol, li
{
    font-family: ‘Helvetica’, Verdana, 'sans-serif';
}

p{
    font-size: 10px;
    font-weight: 700;
}

.list_parent_div
{
    font-size:12px;
    text-align: left;
}

#menubar.menu-items
{
    text-decoration: none;
}