body
{
    background-color: lightgrey;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

#login_form
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    background-color: white;
    border: 2px solid grey;
    box-shadow: 0 0 25px grey;
}

.row
{
    margin: 0;
    padding: 0;
}

.col-4, .col-3
{
    padding-top:17px;
}

.col-8, .col-9
{
    padding: 10px;
}

.col-8, .col-4, .col-9, .col-3
{
    margin: 0;
}

#logInButton
{
    margin:35px -10px;
    width: 100px;
    height: 40px;
}

#signUpButton
{
    margin: 10px auto;
    background: dodgerblue;
    color: white;
}


#loginError
{
    margin:0;
    width: 100%;
    line-height:5px;
    height: 20px;
    text-align: center;
    color: RED;
}

#loginLegend
{
    margin-top: 7px;
    margin-bottom: -14px;
    text-align: center;
    color: grey;
    padding-bottom: 10px;
}

