.menu-items
{   display: block;
    width: 100%;
    padding:10px;
    cursor: pointer;
    border:2px solid transparent;
}

#menubar
{

    padding-left:20px;
    position: absolute;
    top:40px;
    left: 0;
    width: 20%;
    display: inline-block;
    height: 90%;
    background-color: #F0EDE8;
}
