.menu-items
{   display: block;
    width: 100%;
    padding:10px 20px;
    border:2px solid transparent;
    text-decoration: none;
}

.menubar
{
    position: absolute;
    top:40px;
    left: 0;
    width: 20%;
    display: inline-block;
    background-color: #F0EDE8;
    font-weight: 500;
    font-size: 18px;
    z-index: 999;
}

.username
{
    display: block;
    width: 100%;
    padding:20px;
    border:2px solid transparent;
}

.active-menu
{
    cursor: pointer ;

    text-decoration: none;
}

div
{
    font-family: ‘Helvetica’, Verdana, 'sans-serif';
    text-decoration: none;

}
.menubar .menu-items {
    color:black;
    text-decoration: none;
}

#user_pic
{
    width:150px;
    height:100px;
    margin:40px 60px ;
    margin-bottom: 10px;
    border-radius: 50%;
}

.current-menu
{
    border-left: 4px solid dodgerblue;
    font-weight: 500;
}


.username
{
    color: dodgerblue;

}

.center
{
    text-align: center;
    margin:0;
    padding: 0;
}

div#skills
{
    background-color: #A09F9C;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}
