#signUpStatus
{
    margin:0;
    width: 100%;
    line-height:5px;
    height: 20px;
    text-align: center;
}

.error
{
    color:red;
}

.success
{
    color:green;
}

#signUpLegend
{
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"]
{
    width: 100%;
    border: none;
    box-shadow: 0 0 6px grey;
}

#signUpButton
{
    margin: 10px auto;
    background: dodgerblue;
    color: white;
}

#wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

body
{
    background-color: lightgrey;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row
{
    margin: 0;
    padding: 0;
}

.col-4, .col-3
{
    padding-top:17px;
}

.col-8, .col-9
{
    padding: 10px;
}

.col-8, .col-4, .col-9, .col-3
{
    margin: 0;
}

input[type="text"], input[type="email"], input[type="password"]
{
    width: 100%;
    border: none;
    box-shadow: 0 0 6px grey;
}
